.gb-game
  margin-left: auto
  margin-right: auto
  max-width: 300px // TODO: change depending on pattern length

.gb-row
  display: flex
  justify-content: space-around
  margin-bottom: 20px

.gb-piece
  border-radius: 50%
  height: 40px
  width: 40px

.gb-piece-empty
  background-color: #ddd
.gb-piece-red
  background-color: #e33
.gb-piece-orange
  background-color: #c63
.gb-piece-yellow
  background-color: #c93
.gb-piece-green
  background-color: #3a3
.gb-piece-blue
  background-color: #33e
.gb-piece-purple
  background-color: #639
.gb-piece-pink
  background-color: #e66
.gb-piece-brown
  background-color: #963
