@import variables

.gb-game
  margin-left: auto
  margin-right: auto
  max-width: 360px // TODO: change depending on pattern length

.gb-row
  display: flex
  justify-content: space-around
  padding 10px

  &-active
    background-color: #aaa

.gb-piece
  border-radius: 50%
  height: 40px
  width: 40px

gamePiece($name, $color, $light, $dark)
  .gb-piece-{$name}
    background-color: $color
    border: 1px solid $light
    box-shadow: 1px 1px 0 1px $dark

gamePiece("red", $red, $redLight, $redDark)
gamePiece("orange", $orange, $orangeLight, $orangeDark)
gamePiece("yellow", $yellow, $yellowLight, $yellowDark)
gamePiece("green", $green, $greenLight, $greenDark)
gamePiece("blue", $blue, $blueLight, $blueDark)
gamePiece("purple", $purple, $purpleLight, $purpleDark)
gamePiece("pink", $pink, $pinkLight, $pinkDark)
gamePiece("brown", $brown, $brownLight, $brownDark)

.gb-piece-empty
  background-color: #ccc
  border: 1px solid transparent

.gb-row-active
  .gb-piece-empty
    border-color: #aaa
    box-shadow: inset 1px 1px 0 1px rgba(0,0,0,0.4)

.gb-outome
  backgorund: #ddd
  width: 60px

  &-empty
    background: #fff
