$red = #e33
$redLight = #f66
$redDark = darken($red, 20%)

$orange = #e73
$orangeLight = lighten($orange, 30%)
$orangeDark = darken($orange, 20%)

$yellow = #ed3
$yellowLight = lighten($yellow, 30%)
$yellowDark = darken($yellow, 20%)

$green = #3c3
$greenLight = lighten($green, 30%)
$greenDark = darken($green, 20%)

$blue = #36e
$blueLight = lighten($blue, 30%)
$blueDark = darken($blue, 20%)

$purple = #93c
$purpleLight = lighten($purple, 30%)
$purpleDark = darken($purple, 20%)

$pink = #e69
$pinkLight = lighten($pink, 30%)
$pinkDark = darken($pink, 20%)

$brown = #963
$brownLight = lighten($brown, 30%)
$brownDark = darken($brown, 20%)
