.gb-game {
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
}
.gb-row {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.gb-row-active {
  background-color: #777;
}
.gb-piece {
  border: 3px solid #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.gb-piece-empty {
  background-color: #ccc;
}
.gb-piece-red {
  background-color: #e33;
}
.gb-piece-orange {
  background-color: #e73;
}
.gb-piece-yellow {
  background-color: #ed3;
}
.gb-piece-green {
  background-color: #3c3;
}
.gb-piece-blue {
  background-color: #36e;
}
.gb-piece-purple {
  background-color: #93c;
}
.gb-piece-pink {
  background-color: #e69;
}
.gb-piece-brown {
  background-color: #963;
}
.gb-outome {
  backgorund: #ddd;
  width: 60px;
}
.gb-outome-empty {
  background: #fff;
}
